{% extends 'core/base.html' %}

{% load static %}

{% block contenido %}
<div class="container">
    <h2>Destacados</h2> 

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- IMAGEN -->
                    <a href="#">
                        <img src="{% static 'core/'%}img/nier_replicant_accion.jpg" width="208px" height="225px" alt="">
                    </a>

                    <div class="card-body">
                        <p class="card-text">-- Nier Replicant Ver. 1.22474487139 --</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <small class="text-muted">Acción</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- IMAGEN -->
                    <a href="#">
                        <img src="{% static 'core/'%}img/sekiro.jpg" width="208px" height="225px" alt="">
                    </a>

                    <div class="card-body">
                        <p class="card-text">-- Sekiro: Shadows Die Twice --</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <small class="text-muted">Aventura</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- IMAGEN -->
                        <a href="#">
                            <img src="{% static 'core/'%}img/warcraft_3.jpg" width="208px" height="225px" alt="">
                        </a>
                        
            

                    <div class="card-body">
                        <p class="card-text">-- Warcraft III --</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <small class="text-muted">Estrategia</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- IMAGEN -->
                    <a href="#">
                        <img src="{% static 'core/'%}img/forza_horizon_4_conduccion.jpg" width="208px" height="225px" alt="">
                    </a>

                    <div class="card-body">
                        <p class="card-text">-- Forza Horizon 4 --</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <small class="text-muted">Conducción</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                                            <!-- IMAGEN -->
                                            <a href="#">
                                                <img src="{% static 'core/'%}img/hitman_3_shooter.jpg" width="208px" height="225px" alt="">
                                            </a>

                    <div class="card-body">
                        <p class="card-text">-- Hitman 3 --</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <small class="text-muted">Shooter</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- IMAGEN -->
                    <a href="#">
                        <img src="{% static 'core/'%}img/ff7_REMAKE-rpg.jpg" width="208px" height="225px" alt="">
                    </a>

                    <div class="card-body">
                        <p class="card-text">-- Final Fantasy 7: REMAKE --</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <small class="text-muted">RPG</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- IMAGEN -->
                    <a href="#">
                        <img src="{% static 'core/'%}img/guilty_gear_strive_pelea.jpg" width="208px" height="225px" alt="">
                    </a>

                    <div class="card-body">
                        <p class="card-text">-- Guilty Gear Strive --</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <small class="text-muted">Pelea</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- IMAGEN -->
                    <a href="#">
                        <img src="{% static 'core/'%}img/horror_resident_evil_village.jpg" width="208px" height="225px" alt="">
                    </a>


                    <div class="card-body">
                        <p class="card-text">-- Resident Evil Village --</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <small class="text-muted">Horror</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <!-- IMAGEN -->
                    <a href="#">
                        <img src="{% static 'core/'%}img/celeste.jpg" width="208px" height="225px" alt="">
                    </a>
                    <div class="card-body">
                        <p class="card-text">-- Celeste --</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Ver</button>
                            </div>
                            <small class="text-muted">Indie</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}

